{
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "plugins": ["prettier-plugin-tailwind"],
  "overrides": [
    {
      "files": ["**/*.js", "**/*.jsx", "**/*.astro"],
      "options": {
        "parser": "babel",
        "requireConfig": true,
        "plugins": ["prettier-plugin-tailwindcss"]
      }
    }
  ]
}
