---
import Layout from "../../layouts/Layout.astro";
const allPosts = await Astro.glob("./*.md");

const allPostsSorted = allPosts.sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).getTime() -
    new Date(a.frontmatter.pubDate).getTime()
);

const formatDate = (date: string) => {
  const options: Intl.DateTimeFormatOptions = {
    year: "numeric",
    month: "long",
    day: "numeric",
  };
  return new Date(date).toLocaleDateString("en-GB", options);
};
---

<style>
  @import "../../styles.css";
</style>

<Layout>
  <div class="flex flex-col min-h-screen">
    <div class="flex flex-row justify-between">
      <p class="text-2xl">
        A blog about the web, design and typography.
      </p>
    </div>
    <div class="mt-10">
      {
        allPostsSorted.map((post) => (
          <a href={post.url} class="hover:text-ykb active:text-white">
            <div class="border-2 border-neutral-300 flex flex-col sm:flex-row justify-between p-5 mb-10 sm:items-center">
              <h1 class="text-xl">{post.frontmatter.title}</h1>
              <p>
                {" "}
                {formatDate(post.frontmatter.pubDate.slice(0, 10))}
              </p>
            </div>
          </a>
        ))
      }
    </div>
    <div
      class="flex flex-col space-y-5 sm:flex-row sm:space-y-0 sm:space-x-5 items-center"
    >
      <a
        href="https://buttondown.email/jackkershaw"
        class="text-ykb active:text-white hover:text-orangepeel"
        target="_blank"
        >Subscribe via Email <span class="icon-[ic--baseline-email]"
        ></span>
      </a>
      <a
        href="/rss.xml"
        class="text-ykb active:text-white hover:text-orangepeel"
        target="_blank"
      >
        Subscribe via RSS <span class="icon-[simple-icons--rss]"
        ></span>
      </a>
      <a
        href="/wander"
        class="text-ykb active:text-white hover:text-orangepeel"
        target="_blank"
      >
        Read more blogs on my Wander page <span
          class="icon-[iconoir--network]"></span>
      </a>
    </div>
  </div>
</Layout>
