---
import Layout from "../../layouts/Layout.astro";
const allPosts = await Astro.glob("./*.md");

const allPostsSorted = allPosts.sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).getTime() -
    new Date(a.frontmatter.pubDate).getTime()
);

const formatDate = (date: string) => {
  const options: Intl.DateTimeFormatOptions = {
    year: "numeric",
    month: "long",
    day: "numeric",
  };
  return new Date(date).toLocaleDateString("en-GB", options);
};
---

<Layout>
  <div>
    <section class="max-w-2xl mb-5 sm:mb-8">
      <p class="text-xl sm:text-2xl">
        A blog about the web, design and typography.
      </p>
    </section>
    <div>
      {
        allPostsSorted.map((post) => (
          <a
            href={post.url}
            class="hover:text-neutral-100 active:text-neutral-100 no-underline"
          >
            <div class="border-2 hover:bg-ykbdark border-neutral-300 flex flex-col sm:flex-row justify-between p-5 mb-2 sm:items-center rounded-lg">
              <h1 class="text-xl">{post.frontmatter.title}</h1>
              <p>
                {" "}
                {formatDate(post.frontmatter.pubDate.slice(0, 10))}
              </p>
            </div>
          </a>
        ))
      }
    </div>
    <div
      class="pt-8 flex flex-col space-y-5 sm:flex-row sm:space-y-0 sm:space-x-5 text-left"
    >
      <a
        href="https://buttondown.email/jackkershaw"
        target="_blank"
        class="bg-ykb hover:bg-ykbdark active:bg-ykblight text-neutral-100 rounded-lg py-5 px-4 no-underline text-center"
      >
        Subscribe via Email
      </a>
      <a
        href="/rss.xml"
        target="_blank"
        class="bg-ykb hover:bg-ykbdark active:bg-ykblight text-neutral-100 rounded-lg py-5 px-4 no-underline text-center"
      >
        Subscribe via RSS
      </a>
      <a
        href="/wander"
        target="_blank"
        class="bg-ykb hover:bg-ykbdark active:bg-ykblight text-neutral-100 rounded-lg py-5 px-4 no-underline text-center"
      >
        Read More Blogs
      </a>
    </div>
  </div>
</Layout>
