.blog-content h2 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
}

.blog-content h3 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.blog-content p {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.blog-content ul,
.blog-content ol {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  margin-left: 1.5rem;
}

.blog-content li {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.blog-content ul li {
  list-style-type: disc;
}

.blog-content ol li {
  list-style-type: decimal;
}

.blog-content a,
.blog-content li > a {
  color: rgb(23 23 23);
  text-decoration: underline;
}

.blog-content a:hover {
  color: #002588;
}

.blog-content code {
  font-family: Menlo, Monaco, Consolas, monospace;
  font-size: 0.9rem;
  background-color: #1e1e1e;
  color: #d4d4d4;
  padding: 0.2em 0.4em;
  border-radius: 0.25rem;
  border: 1px solid #333;
}

.blog-content pre {
  background-color: #1e1e1e;
  padding: 1rem;
  border-radius: 0.5rem;
  overflow-x: auto;
  margin: 1rem 0;
  border: 1px solid #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.blog-content pre code {
  background-color: transparent;
  border: none;
  padding: 0;
  font-size: 0.875em;
  line-height: 1.7;
  color: #d4d4d4;
}

.blog-content img {
  padding: 1rem;
}
