---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <section class="flex flex-col items-center
min-h-screen sm:max-w-2xl">
    <p class="text-xl sm:text-2xl text-neutral-900 mb-5 sm:mb-8">
      Want to work on something together? Get in touch below or email
      me directly at{" "}
      <a
        href="mailto:hello@jackkershaw.net"
        target="_blank"
        rel="noopener
noreferrer"
      >
        hello@jackkershaw.net
      </a>
    </p>
    <form
      action="https://formspree.io/f/xpwanebv"
      method="POST"
      class="flex flex-col space-y-4 w-full
rounded-lg"
    >
      <input
        type="text"
        id="name"
        name="name"
        placeholder="Your name"
        required
        class="p-4 bg-neutral-100 border
border-neutral-300 rounded-lg focus:outline-hidden focus:ring-2
focus:ring-ykb"
      />
      <input
        type="email"
        id="email"
        name="email"
        placeholder="Your email"
        required
        class="p-4 bg-neutral-100 border
border-neutral-300 rounded-lg focus:outline-hidden focus:ring-2
focus:ring-ykb"
      />
      <textarea
        id="message"
        name="message"
        placeholder="Your message"
        required
        rows="4"
        class="p-4 bg-neutral-100
border border-neutral-300 rounded-lg focus:outline-hidden focus:ring-2
focus:ring-ykb"
      ></textarea>
      <button
        type="submit"
        class="p-4
bg-ykb text-neutral-100 rounded-lg hover:bg-ykbdark active:bg-ykblight focus:outline-hidden
focus:ring-2 focus:ring-ykb"
      >
        Submit
      </button>
    </form>
  </section>
</Layout>
