---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <main>
    <div>
      <p class="text-2xl">
        Get in touch below or email me directly at{" "}
        <a
          href="mailto:jackkershaw@protonmail.com"
          target="_blank"
          rel="noopener noreferrer"
          class="hover:underline"
        >
          jackkershaw@protonmail.com
        </a>
      </p>
      <form
        action="https://formsubmit.co/jackkershaw@protonmail.com"
        method="POST"
        class="flex flex-col space-y-3 py-5 text-neutral-900"
      >
        <input
          type="text"
          id="name"
          name="name"
          placeholder="Your name"
          required
          class="input-field p-4 bg-neutral-100"
        />
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Your email"
          required
          class="input-field p-4 bg-neutral-100"
        />
        <textarea
          id="message"
          name="message"
          placeholder="Your message"
          required
          rows="4"
          class="input-field p-4 bg-neutral-100"></textarea>
        <button
          type="submit"
          value="Submit"
          class="submit-button p-4
bg-neutral-100 text-left"
        >
          Submit
        </button>
      </form>
    </div>
  </main>
</Layout>
