---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <div
      class="mx-auto min-h-screen text-center items-center align-items-center"
    >
      <p class="text-4xl py-10 my-10">
        Page not found! Please <a href="/" class="underline"
          >return to the home page.</a
        >
      </p>
    </div>
  </main>
</Layout>
