---
import Layout from '../layouts/Layout.astro';
---
<Layout>
	<main>
	 <ul>
		<li><a href="/blog/post-1">My first blog post</a></li>
		<li><a href="/blog/post-2">My second blog post</a></li>
	 </ul>
	</main>
</Layout>
