---
import Layout from '../layouts/Layout.astro';
import Coding from '../components/codingContent.jsx';
---

<Layout title="Jack Kershaw">
	<main>
	    <Coding/>
	</main>
</Layout>
../components/codingContent.jsx
