---
import Layout from "../layouts/Layout.astro";
import OpeningPage from "../components/opening-page.jsx";
import CodingContent from "../components/codingContent.jsx";
---

<Layout>
  <main>
    <OpeningPage />
  </main>
</Layout>
