---
import Layout from "../layouts/Layout.astro";
import OpeningPage from "../components/opening-page";
import MyTechStack from "../components/my-tech-stack";
---

<Layout>
  <main>
    <OpeningPage />
    <MyTechStack />
  </main>
</Layout>
