---
import Layout from "../../layouts/Layout.astro";
import Blogroll from "../../components/blogroll.jsx";
import Podroll from "../../components/podroll.jsx";
import OtherSites from "../../components/othersites.jsx";
---

<Layout>
  <main>
    <p class="text-2xl mb-5">
      This is a list of places I like on the internet! I got the idea
      from <a
        href="https://jamesg.blog/wander/"
        target="_blank"
        aria-label="Link to James' Coffee Blog Wander Page"
        class="hover:text-ykb">James' Coffee Blog.</a
      > Go wander the web.
    </p>
    <p class="text-2xl mb-5">
      Skip to <a href="podcasts">Podcasts</a> | <a href="othersites"
        >Other Sites</a
      >
    </p>
    <Blogroll />
    <Podroll />
    <OtherSites />
  </main>
</Layout>
