---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <main>
    <h1>Wander Page</h1>
    Hello! This is a big list of links of internet places I like! Go on,
    go wander the internet. I got the idea from [James' Coffee Blog](https://www.podroll.com/).
    <h2>Blogroll</h2>
    <p>Blogs I follow. Ordered alphabetically.</p>
    <h2>Podroll</h2>
    <p>Podcasts I follow. Ordered alphabetically.</p>
    <h2>Youtube</h2>
    <p>YouTube channels I particularly like.</p>
    <h2>Are.na</h2>
    <p>Are.na channels I particularly like.</p>
  </main>
</Layout>
