@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "RealText";
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/RealTextPro-Regular.otf);
}

@font-face {
  font-family: "RealText Bold";
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/RealTextPro-Bold.otf);
}

:root {
  font-family: "RealText", sans-serif;
}

a {
  text-decoration: underline;
  @apply underline-offset-4;
}
a .no-underline {
  text-decoration: none;
}

nav a {
  text-decoration: none;
}

li div a {
  text-decoration: none;
}

li a {
  text-decoration: none;
}

button a {
  text-decoration: none;
}

a span {
  @apply text-3xl;
}
