@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "RealText";
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/RealTextPro-Regular.otf);
}

@font-face {
  font-family: "RealText Bold";
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/RealTextPro-Bold.otf);
}

:root {
  font-family: "RealText", sans-serif;
}

a {
  @apply: text-underline;
  @apply: hover:text-ykb;
}
