---
import Layout from "../../layouts/Layout.astro";
import CodingContent from "../../components/codingContent.jsx";
import MyTechStack from "../../components/my-tech-stack";
---

<Layout>
  <main>
    <CodingContent />
    <MyTechStack />
  </main>
</Layout>
