---
import Header from "../components/header";
import Footer from "../components/footer";
import "../styles.css";
---

<!doctype html>
<html lang="en">
  <head>
    <script
      defer
      src="https://cloud.umami.is/script.js"
      data-website-id="711244a3-c8fe-4719-9fe1-43eeb11d3fd6"></script>
    <script
      defer
      src="https://umami.jackkershaw.pp.ua/script.js"
      data-website-id="b19f2ad3-2605-4241-b269-e9fdfb40e6b6"></script>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="A personal portfolio website for Jack Kershaw. He is a developer and designer based in London, with over ten
            years of design experience and two years in development.
            He is passionate about creating beautiful and functional
            products that enhance user experience. His proactive and
            organised approach drives him to build new projects and
            learn new technologies."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="favicon" href="/favicon.ico" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link
      rel="canonical"
      href={new URL(Astro.url.pathname, Astro.site).href}
    />
    <meta name="generator" content={Astro.generator} />
    <title>Jack Kershaw | Portfolio</title>
  </head>
  <body class="bg-neutral-100">
    <Header client:load />
    <main
      class="p-5 sm:p-10 bg-neutral-100 text-neutral-900 animate-[fadeIn_0.4s_ease-in]"
    >
      <slot />
    </main>
    <Footer client:load />
  </body>
</html>

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Person",
    "name": "Jack Kershaw",
    "url": "https://jackkershaw.net",
    "jobTitle": "Developer",
    "sameAs": [
      "https://github.com/jones58",
      "https://www.linkedin.com/in/jack-kershaw"
    ],
    "knowsAbout": ["Web Development", "Design", "Typography"],
    "description": "A developer and designer based in London, with over ten years of design experience and two years in development."
  }
</script>
