---
const { frontmatter } = Astro.props;
import Layout from "../layouts/Layout.astro";

const formatDate = (date: string) => {
  const options: Intl.DateTimeFormatOptions = {
    year: "numeric",
    month: "long",
    day: "numeric",
  };
  return new Date(date).toLocaleDateString("en-GB", options);
};
---

<Layout>
  <div
    class="py-10 flex flex-col justify-start items-center min-h-[80vh]"
  >
    <div class="pb-10 max-w-prose">
      <h1
        class="text-2xl sm:text-3xl sm:text-4xl font-bold text-center"
      >
        {frontmatter.title}
      </h1>
      <p class="text-xl sm:text-base sm:text-2xl text-center pt-2">
        {formatDate(frontmatter.pubDate.slice(0, 10))}
      </p>
    </div>
    <div class="prose">
      <slot />
    </div>
    <div class="py-10">Share this post:</div>
    <div
      class="pt-8 flex flex-col space-y-5 sm:flex-row sm:space-y-0 sm:space-x-5 text-left"
    >
      <a
        href="https://buttondown.email/jackkershaw"
        class="active:text-neutral-100 hover:text-ykb"
        target="_blank"
        >Subscribe via Email <span class="icon-[ic--baseline-email]"
        ></span>
      </a>
      <a
        href="/rss.xml"
        class="active:text-neutral-100 hover:text-ykb"
        target="_blank"
      >
        Subscribe via RSS <span class="icon-[simple-icons--rss]"
        ></span>
      </a>
      <a
        href="/wander"
        class="active:text-neutral-100 hover:text-ykb"
        target="_blank"
      >
        Read more blogs on my Wander page <span
          class="icon-[iconoir--network]"></span>
      </a>
    </div>
    <a href="/blog" class="text-xl hover:text-ykb pt-10 mt-10 block">
      Back to all posts
    </a>
  </div>
</Layout>
